@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');

@media (max-width: 600px) {
    #cambiar {
        display: none !important;
    }
}

.tOrange {
    color: #FF9924
}

body {
    margin: 0;
    font-family: 'Montserrat'
}
.contenido {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.botón {
    text-align: center;
}
.botón button {
    padding: 10px 40px;
    background: #FF9924;
    border: transparent;
    box-shadow: #EAEAEA 2px 2px;
    color: white;
    font-weight: 200;
    outline: none;
}
.botón button:hover {
    background: #ffaa49;
    cursor: pointer;
}
.botón button:active {
    background: #FF9924;
}
.fondo {
    background: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup {
    width: 70%;
    height: 70%;
    background: white;
    border: 1px solid grey;
    border-radius: 20px;
}
.contenidoPopup {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#imagenIzquierda {
    width: 38%;
    height: 100%;
    background-image: url('PopUp.png');
    background-size: cover;
    /* border: 1px solid grey; */
    border-radius: 20px 0 0 20px;
    background-repeat: no-repeat;

}
#contenidoDerecha {
    width: 65%;
    padding: 5px 20px 10px 0;
    align-items: center;
    margin: 0 auto;
}
#contenidoDerecha h4, #contenidoDerecha h2{
    margin: 0;
    font-weight: 200;
}
#contenidoDerecha h4 {
    width: 80%;
}
.divLink {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #FF9924;
    border-radius: 15px;
    padding: 10px;
    width: 60%;
}
.linkPopup {
    text-decoration: none;
}

#empecemosDiv {
    width: 90%;
    text-align: right;
}
#empecemos:hover {
    cursor: pointer;
}

#imagenIzquierda, #contenidoDerecha {
    overflow: hidden;
}
.oculto {
    display: none;
}
.desvanecer {
    -webkit-animation: fadeIn 1s;
}
.center {
    text-align: center
}
.centerFlex {
    display: flex;
    justify-content: center;
}
@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
    }
}

.desvanecerB {
    -webkit-animation: fadeOut 1s;
}

@-webkit-keyframes fadeOut{
    60%{
        opacity: 0;
    }
}

#empecemos:hover {
    cursor: default;
}

#empecemos span:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    color: #12223D
}